/*
 * Checkin Project styles
 * @author Jinsu Mathew
 */

/* 
 * colors used
 *
 * Violet : #9B59B6
 * Dark Violet: #8E44AD 
 * Wet Asphalt: #34495E
 *
 */



html, body, .wrapper { height:100%; width:100%; margin:0; padding:0; color:#34495E; }


/*
 * Common bootstrap overrides
 */
.btn-primary { background-color:#9B59B6; border:0; border-radius:0; }

.btn-primary:hover, .btn-primary:focus { background-color:#8E44AD; }

.btn-primary[disabled] { background-color:#9B59B6; border:0; }

.display-none { display:none; }

/*
 * sidebar
 */
.sidebar {
	height:100%;
	margin:0;
	padding:0;
	background-color:#9B59B6;
	text-align:center;
	color:#fff;
}

/*
 * branding
 */
.branding h1 { 
	font-size:1.5em; 
	font-weight:normal; 
	margin:10px 0; 
	padding:0;
	text-shadow:0 0 3px #444;
	letter-spacing:.05em;
}
.branding h1 span { 
	display:block; 
	margin:10px 0;
	font-size:1.7em;
}


/*
 * profile-col
 */
.profile-col { margin:30px 0; }
.profile-col img { border:4px solid #8E44AD; z-index:10; }
.profile-col h2 { font-size:14px; font-weight:normal; margin:10px 0 0 0; }
.profile-col h3 { font-size:12px; font-weight:normal; margin:5px 0 0 0; }

/*
 * nav menu
 */
.nav-menu {
	list-style:none;
	margin: 0;
	padding:0;
	text-index:0;
	text-align:left;
}

.nav-menu li {
	margin:0;
	padding:0;
	border-bottom:2px solid #8E44AD;
}
.nav-menu li:first-child { border-top:2px solid #8E44AD; }

.nav-menu li a {
	color:#fff;
	text-decoration:none;
	display:block;
	padding:10px;
	padding-left:20px;
	transition: padding-left 0.5s ease;
}

.nav-menu li a:hover { transition: padding-left 0.5s ease; padding-left:35px; }

.nav-menu li.active a { color:#8E44AD; }

.nav-menu li a span { margin-right:10px; }

/* 
 * content-body
 */
.content-body {
	height:100%;
	margin:0;
	padding:0 20px 20px 20px;
}


/*
 * breadcrumb
 */
.breadcrumb {
	border-radius:0;
	background-color:#fff;
	border-bottom:3px solid #ECF0F1;
	font-size:12px;
	padding:5px 15px;
}

.breadcrumb li a { color:#9B59B6; text-decoration:none; }
.breadcrumb li.active { color:#9B59B6; font-style:italic; }


/*
 * page-header
 */
.page-header { margin:0 -20px 20px -20px; padding:15px 20px;  }

.page-header h1 { 
	font-size:18px;
	color:#9B59B6;
	margin:0;
	padding:0;
}